body {
    padding-top: 55px; /* Make space for navbar */
    background-color: #fff;
    font-family: "Roboto", serif;
    color:#565555;
  }

p {
  font-family: "Roboto", serif;
  font-size: 1rem;
  text-align: justify;
}

.text-center p {
  text-align: center;
}

#map p {
  font-family: "Roboto", serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
  border: none;
  color: transparent;
}

#map {
  height: 50vh;
}

.bg-ocean-blue {
    background-color: #035c8c; /* Ocean blue color */
}
.ocean-blue {
  color: #035c8c;
}

.btn.ocean-blue {
  background-color: #035c8c; 
  color: #fff;
}

.navbar-brand:focus, .navbar-brand:hover, .nav-link:hover {
  color: #035c8c;
}
.masthead {
  background-size:cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color: #035c8c;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

@media (min-width: 640px) {
  .masthead {
    min-height: 50vh;
  }
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.color-overlay h1 {
  background-color: transparent;
  text-align: center;
}

.color-overlay h2 {
  background-color: transparent;
  text-align: center;
  font-style: italic;
}

.catchline {
  font-style: italic;
}

.calendarWidget a {
  color:transparent;
}

.calendarWidget .multiCalendarWidget .singleCalendarWidget table td.current-day, 
.calendarWidget .multiCalendarWidget .singleCalendarWidget h2 table td.current-day {
  border: 0px solid #951212 !important;
  font-weight: bold;
  color: #5e5e5e;
}
