:root {
  --ocean-blue: #035c8c;
}


body {
    padding-top: 55px; /* Make space for navbar */
    background-color: #fff;
    font-family: "Roboto", serif;
    color:#565555;
  }

a {
  color: var(--ocean-blue);
}

p {
  font-family: "Roboto", serif;
  font-size: 1rem;
  text-align: justify;
}

.text-center p {
  text-align: center;
}

#map p {
  font-family: "Roboto", serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
  border: none;
  color: transparent;
}

#map {
  height: 50vh;
}

.bg-ocean-blue {
    background-color:  var(--ocean-blue); /* Ocean blue color */
}
.ocean-blue {
  color:  var(--ocean-blue);
}

.btn.ocean-blue {
  background-color:  var(--ocean-blue); 
  color: #fff;
}

.navbar-brand:focus, .navbar-brand:hover, .nav-link:hover {
  color:  var(--ocean-blue);
}

footer .nav-link:hover {
  color: #fff;
}

.masthead {
  background-size:cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color:  #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

@media (min-width: 640px) {
  .masthead {
    min-height: 50vh;
  }
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.color-overlay h1 {
  background-color: transparent;
  text-align: center;
}

.color-overlay h2 {
  background-color: transparent;
  text-align: center;
  font-style: italic;
}

.catchline {
  font-style: italic;
}

.calendarWidget a {
  color:transparent;
}

.calendarWidget .multiCalendarWidget .singleCalendarWidget table td.current-day, 
.calendarWidget .multiCalendarWidget .singleCalendarWidget h2 table td.current-day {
  border: 0px solid #951212 !important;
  font-weight: bold;
  color: #5e5e5e;
}


.gmaps {
  padding-bottom: 90%;
  overflow: hidden;
  height: 0;
  position: relative;
}


@media (min-width: 640px) {
  .gmaps {
    padding-bottom: 30%;
  }
}


.gmaps iframe {
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
}