body {
    padding-top: 55px; /* Make space for navbar */
}

#map {
  height: 50vh;
}

.bg-ocean-blue {
    background-color: #035c8c; /* Ocean blue color */
}

.ocean-blue {
  color: #035c8c; /* Ocean blue color */
}

.navbar-brand:focus, .navbar-brand:hover, .nav-link:hover {
  color: #035c8c;
}
.masthead {
  background-size:cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color: #035c8c;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

@media (min-width: 640px) {
  .masthead {
    min-height: 50vh;
  }
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.color-overlay h1 {
  background-color: transparent;
  text-align: center;
}

.color-overlay h2 {
  background-color: transparent;
  text-align: center;
  font-style: italic;
}
