{{ define "main" }}

<main class="container">
  <h1>{{ .Title }}</h1>
  {{ with .Params.catchline }}
  <h2 class="catchline">{{ . }}</h2>
  {{ end }}

  {{ .Content }}

  <div class="row g-4 mt-3">

    {{ range .Pages }}

      <div class="col 
                  text-center 
                  d-flex 
                  justify-content-center">

        <div class="card h-100" style="width: 18rem;">

          <a href="{{ .RelPermalink }}">
            {{ with .Resources.Get "card.jpg" }}
                {{ $image := .Resize "400x"}}
                <img src="{{ $image.RelPermalink }}" class="card-img-top" alt="{{ .Title }}">
              
            {{ else }}
                <p>{{ .Title }}</p>
            {{ end }}
          </a>
          <div class="card-body">
            <a href="{{ .RelPermalink }}"><h5 class="card-title ocean-blue">{{ .Title }}</h5></a>
            <p class="card-text catchline">{{ .Params.catchline }}</p>
            <a href="{{ .RelPermalink }}" class="btn ocean-blue">Je veux la voir</a>
          </div>

        </div> 
      </div>
        

    {{ end }}

  </div>

</main>


{{ end }}