{{ define "main" }}

<main class="container">

  <h1>{{ .Title }}</h1>
  {{ with .Params.catchline }}
  <h2>{{ . }}</h2>
  {{ end }}

  {{ .Content }}

  <div class="row pt-2" data-masonry='{"percentPosition": true }'>
    {{- $images := .Resources.ByType "image" -}}
      {{ range $images }}
      {{ $image:= .Resize "960x" }}
      <a href="{{ $image.RelPermalink }}" class="col-12 col-md-4 col-xl-2 pb-3 px-2 lightbox-toggle" data-gallery="yeu-gallery">
        {{ $img_tmb:= .Resize "400x" }}
        <img src="{{ $img_tmb.RelPermalink }}" 
             height="300"
             width="400"
             alt="Gallery" 
             class="img-fluid">
      </a>
      {{ end }}
    
  </div>
</main>

{{ end }}
 