<div class="container mt-5"></div>
<div id="map"></div>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: {{ .Site.Params.gmap.apikey }},
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
<script src="{{ "/js/gmap.js" | relURL }}"></script>
<script>
  const mapConfig = {
      map: {
          lat: {{ .Site.Params.gmap.lat }},
          lng: {{ .Site.Params.gmap.lng }},
          zoom: {{ .Site.Params.gmap.zoom }},
          type: {{ .Site.Params.gmap.type }},
          id: {{ .Site.Params.gmap.id }},
          },
      markers: [{
          title: {{ .Site.Params.gmap.markers.genets.title }},
          lat: {{ .Site.Params.gmap.markers.genets.lat }},
          lng: {{ .Site.Params.gmap.markers.genets.lng }},
          description: {{ .Site.Params.gmap.markers.genets.description }},
           },
           {
          title: {{ .Site.Params.gmap.markers.plantes.title }},
          lat: {{ .Site.Params.gmap.markers.plantes.lat }},
          lng: {{ .Site.Params.gmap.markers.plantes.lng }},
          description: {{ .Site.Params.gmap.markers.plantes.description }},
           }]
  }

  initGoogleMap(mapConfig);
</script>